body{

}
.navbar {
  padding: 0 0 4.5rem;

}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar-item {
  padding: 0 1%;

}

.container-fluid {
  background-color: #000000;
  padding: 3% 15% 7%;
}

.title-image {
  width: 80%;
  margin-left: 30%;
}

h1 {
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: bold;
  color: #A9A9A9;
}

.Sign-button {
  margin: 5% 3% 5% 3%;
}

.navbar-collapse {
 margin-left: 40%;
}

#about {
  background-color: #DCDCDC;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
}

.About-us {

  text-align: center;
  margin: 2% 5% 5%;
  font-size: 2rem;
}

#footer {
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
}
